/* Full Page Chat Container */
.chat{
    background-color: rgb(107, 93, 93);
}
.chat-container {

    
    height: 70vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
    position: relative;
    left: 350px;
    margin-bottom: 90px;
    margin-top: 33px;
}


.chat-box {
    flex-grow: 1;
    background: #ffffff;
  
}


.chat-container {
    padding: 10px;
}
.ph{
    height: 60px;
    width: 95%;
    position: relative;
    color: black;
}
.btn{
    position: absolute;
    bottom: 11px;
    height: 65px;
    width: 60px;
    right: 11px;
}