footer{
    background-color: pink; 
    color: black; 
    padding: 10px 0px; 
    text-align: center;
    /* margin-top: auto;  */
    width: 100%;
  }
footer.dark {
    background-color: white;
    color: black;
    padding: 10px 0;;
    text-align: center;
}
  .footer-content {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
  }
  
  .footer p {
    font-size: 16px;
  }
  
  
  @media (max-width: 768px) {
    .footer-content {
      width: 90%; 
    }
  }